---
import Layout from "../../layouts/Layout.astro";

const { post } = Astro.props

type Post = {
    title: string;
    body: string;
    slug: string;
}

export async function getStaticPaths() {
  // Fetch posts from your CMS API
  const response = await fetch('https://your-cms.com/api/posts');
  const posts = await response.json();

  // Generate routes for each post
  return posts.map((post: Post) => ({
    params: { slug: post.slug }, // Slug from CMS
    props: { post }, // Pass post data as props
  }));
}

const { post: Post } = Astro.props; // Access the post data
---

<Layout title={post}>
    <article>
        <h1>{}</h1>
    </article>
</Layout>